div {
    font-size: 30px;
}

#Chess  div {
    width: 40px;
    height: 40px;
    float: left;
    border: 1px solid #c0c0c0;
}

#Chess  div:nth-of-type(16n+2) {
    background-color: #c0c0c0;
}

#Chess  div:nth-of-type(16n+4) {
    background-color: #c0c0c0;
}

#Chess  div:nth-of-type(16n+6) {
    background-color: #c0c0c0;
}

#Chess  div:nth-of-type(16n+8) {
    background-color: #c0c0c0;
}

#Chess  div:nth-of-type(16n+9) {
    background-color: #c0c0c0;
}

#Chess  div:nth-of-type(16n+11) {
    background-color: #c0c0c0;
}

#Chess  div:nth-of-type(16n+13) {
    background-color: #c0c0c0;
}

#Chess  div:nth-of-type(16n+15) {
    background-color: #c0c0c0;
}

#Chess  div:nth-of-type(8n+1) {
    clear: left;
}

#Chess  .chessFigure {
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: 0px;
    margin: 3px 5px;
}

#Chess  .chessOverDrop {
    background-color: #e3ff00 !important;
}

#Chess  .chessValidToDrop {
    background-color: #48f925 !important;
}

#Chess  .chessDragging  .chessFigure {
    opacity: 0.3;
}
